.App {
  text-align: center;
  background-color: rgb(55, 55, 55);
  height: 100vh;
  width: 100vw;
  border: 1px solid red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.city__selector {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10%;
  align-items: center;
}

.city__selector__container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: "Sora", sans-serif;
  margin-right: 5px;
}

.selector {
  font-family: "Sora", sans-serif;
}

.dayforecast__container {
  border: 1px solid red;
  background-color: rgb(55, 55, 55);
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.city__name {
  border: 1px solid red;
  display: flex;
  height: 10%;
  align-items: center;
}

.city__name__container {
  font-family: "Sora", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: white;
  margin-left: 5px;
}

.button, .tick {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.button {
  width: 100%;
  height: 20px;
  background: dodgerblue;
  border-radius: 6px;
  font-family: "Sora", sans-serif;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.label__text {
  color: white;
}